body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.menu-container {
  /* flex: 0 0 auto; */
  flex: 1;
  height: 96%;
  max-width: 12%;
  padding: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  border-radius: 10px;
  background-color: #f2eddc;
  /*overflow-y: auto; /* Agrega desplazamiento vertical si el contenido es demasiado largo */
}

.create-form-container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.create-form-container input[type="text"],
.create-form-container select,
.create-form-container textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  box-sizing: border-box;
}

form label {
  display: block;
  margin: 10px 0;
}

form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #c18f1a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}

.task input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
}

.task-table {
  flex-grow: 1;
  /* flex: 1; */
  width: 80%;
  overflow-y: auto; /* Permite desplazamiento vertical cuando el contenido excede el espacio */
}

.task-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 15%;
}

.task {
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  margin: 10px;
}

.task h3 input[type="text"] {
  font-weight: bold;
  border: none;
  background-color: transparent;
  outline: none;
}

.task textarea.description {
  width: 100%; /* Usa el 100% del ancho de la tarjeta */
  height: 100px;
  padding: 8px;
  margin-bottom: 15px; /* Agrega un borde para delimitar el textarea */
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  resize: vertical; /* Permite redimensionar verticalmente el textarea si el texto es largo */
}

.task-buttons {
  width: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente los elementos */
}

.task-buttons img {
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: none;
}

.buttonUpdate {
  background-color: #007bff;
}

.task-buttons button.delete {
  background-color: #dc3545;
  color: #fff;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
  .task-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .task {
    width: 25%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .task {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Estilos específicos para niveles de importancia */
.task.bajo {
  background-color: #ffffcc; /* Amarillo para nivel bajo */
}

.task.medio {
  background-color: #ffb366; /* Naranja para nivel medio */
}

.task.alto {
  background-color: #ff6666; /* Rojo para nivel alto */
}
